body{background-color: darkseagreen;
}
h1{color: aliceblue;}

.p1{text-align: center;
font-size: 120%;
color: blue;
}
.p1{border-width: 5px;
border-color: chartreuse;
border-style: dashed;
padding-top: 3%;
}
.p1{background-color: cadetblue;
}
.p2{border-width: 5px;
    border-color: black;
   border-style: groove;
    margin-left: 10%;
padding-left: 45%;  
color: dimgray; 
padding-top: 2%;
}
.p3{border-width: 5px;
    border-color: orangered;
    border-style: dotted;
    margin-left: 10%;
    padding-left: 4%;
    color: green;   
    padding-top: 4%;
}
.p4{border-width: 5px;
    border-color: gold;
    border-style: ridge;
    margin-left: 10%;
    padding-left: 40%;
    color: red;   
    padding-top: 2%;    
    }
